@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.head {
    margin-top: 35px;
    text-align: center;
    margin-bottom: -20px;
}

.head h2 {
    letter-spacing: 1px;
    font-size: 40px;
    font-weight: 500;
    text-transform: uppercase;   
    font-family: 'Roboto Slab', serif;
}

.input-main {
    display: flex;
    justify-content: center;
}

.input-div {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: auto;
}

.input-div input {
    background-color: transparent;
    border: 1px solid;
    outline: none;
    font-size: 16px;
    margin-top: 5px;
    height: 35px;
    margin-bottom: 5px;
}

.input-div button {
    height: 40px;
    padding: 10px;
    margin-top: 5px;
    font-size: 16px;
    letter-spacing: 3px;
    font-weight: 400;
    border: 2px solid;
    width: 100%;
    cursor: pointer;
    text-transform: uppercase;
    background-color: transparent;
}

.input-div button:hover {
    background-color: rgb(35, 83, 98);
    color: white;
}

.bookmark-list {
    margin-left: 30px;
    color: rgb(255, 0, 40);    
}

.data-container {
    justify-content: center;
    align-items: center;
    width: 90%;
    border-radius: 10px;
    box-sizing: border-box;    
}

.card-container {
    justify-content: center;
    align-content: center;    
}

.dataList {
    /* background-color:rgb(52, 102, 119); */
    background-color: wheat;
    margin: 5px;
    text-align: start;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 10px;     
    font-family: 'Poppins', sans-serif;
    font-size: 18px;     
}

.listBtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    color: green;
}

.deletebtn {
    cursor: pointer;
    color: gray;
}

.deletebtn:hover {
    color: red;
}

.title {
    color: blue;
    /* font-family: 'Source Code Pro', monospace; */  
    font-family: 'Roboto Slab', serif !important;
}

.title:hover {
    color: rgb(1, 49, 22);    
}